@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.whatsapp {
  position: fixed;
  height: 4rem;
  width: 4rem;
  right: 3.9rem;
  bottom: 4rem;
  z-index: 900;
}

img {
  width: 100%;
}

.primer__header {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E6E6E6;
}

.element__primer-header {
  width: 23.75rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.li__element--primer-header {
  list-style-type: none;
}

.li__element--primer-header a {
  text-decoration: none;
  color: gray;
}

.li__element--primer-header a:hover {
  color: #333333;
}

.social__primer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__primer-header a {
  color: gray;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__primer-header a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #333333;
}

header {
  position: sticky;
  top: 0;
  z-index: 1100;
  background-color: rgb(255, 255, 255); /* Color de fondo translúcido */
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px); /* Desenfoque del fondo */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra del elemento */
}

.segundo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7.2rem;
}

.logo {
  margin: 0.3rem 0 0.3rem 6.5rem;
  width: 15rem;
  height: 6.8rem;
}

.menu {
  margin-right: 12rem;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  margin: 3rem 2rem;
}

.menu li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #003366;
  position: relative;
  z-index: 1;
}

.menu li a::before {
  content: "";
  position: absolute;
  height: 1.8rem;
  top: 1;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: #FFCC00;
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu li a:hover::before {
  right: -5px;
  left: -9px;
  opacity: 0.3;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .navegador__desktop {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-menu {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 10.2rem;
    right: 0;
    height: 100vh;
    width: 60%;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .ubicacion {
    margin-left: 0.8rem;
  }
  .email-span {
    display: none;
  }
  .menu li {
    margin: 2rem 2rem;
  }
}
.circuloChico {
  height: 30rem;
  width: 30rem;
  position: absolute;
  top: 0;
  left: -28rem;
  opacity: 0.4;
  -webkit-animation: movimientoCircular 21s infinite linear alternate;
          animation: movimientoCircular 21s infinite linear alternate;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes movimientoCircular {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(15rem) rotate(90deg);
            transform: translateX(15rem) rotate(90deg);
  }
  50% {
    -webkit-transform: translateX(15rem) translateY(0) rotate(90deg);
            transform: translateX(15rem) translateY(0) rotate(90deg);
  }
  100% {
    -webkit-transform: translateX(15rem) translateY(15rem) rotate(280deg);
            transform: translateX(15rem) translateY(15rem) rotate(280deg);
  }
}

@keyframes movimientoCircular {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(15rem) rotate(90deg);
            transform: translateX(15rem) rotate(90deg);
  }
  50% {
    -webkit-transform: translateX(15rem) translateY(0) rotate(90deg);
            transform: translateX(15rem) translateY(0) rotate(90deg);
  }
  100% {
    -webkit-transform: translateX(15rem) translateY(15rem) rotate(280deg);
            transform: translateX(15rem) translateY(15rem) rotate(280deg);
  }
}
.seccion__principal {
  height: 45.04rem;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo-ppal titulo-ppal img" "subtitulo subtitulo img" "subtitulo subtitulo img";
  position: relative;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(51, 51, 51, 0.54);
  box-shadow: 0px 10px 18px 0px rgba(51, 51, 51, 0.54);
}

.titulo__principal {
  grid-area: titulo-ppal;
  font-size: 4.8rem;
  line-height: 6rem;
  margin: 2rem 0 0 3.5rem;
  position: absolute;
  width: 52rem;
  color: #003366;
}

.imagen__principal {
  height: 45rem;
  width: 47.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: img;
  margin-right: 1.5rem;
}

.titulo__secundario {
  grid-area: subtitulo;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.5rem;
  position: absolute;
  color: #333333;
}

@media screen and (max-width: 480px) {
  .seccion__principal {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "titulo-ppal titulo-ppal titulo-ppal" "subtitulo subtitulo subtitulo" "img img img";
  }
  .titulo__principal {
    font-size: 2rem;
    margin-left: 0;
    padding-left: 1rem;
    width: 100%;
    line-height: 2.8rem;
  }
  .titulo__secundario {
    top: 2rem;
    left: 1rem;
    width: 95%;
  }
  .imagen__principal {
    margin-top: 7rem;
    height: 25rem;
    width: 100%;
    z-index: 1000;
  }
  .circuloChico {
    height: 25rem;
    width: 25rem;
  }
}
.titulo__marcas {
  text-align: center;
  margin-top: 4rem;
  color: #003366;
}

.logo__marcas {
  width: 10rem;
  height: auto;
  margin: 0 3rem 3rem 3rem;
  padding-top: 0;
  display: inline-block;
  vertical-align: middle;
}

.marquesina__marcas {
  margin-top: 5rem;
  background-color: #333333;
  white-space: nowrap;
  overflow: hidden;
  height: 15rem;
  border-bottom: 3px solid #FFCC00;
}

.logo__marcas-litoral {
  width: 15rem;
  height: 15rem;
}

.logo__marcas-cool {
  width: 20rem;
  height: 15rem;
  margin-left: -3rem;
}

.logo__marcas-muter {
  margin-left: -4rem;
}

.separador {
  height: 2rem;
  background-color: #333333;
}

.titulo__servicios {
  text-align: center;
  margin-top: 4rem;
  color: #003366;
}

.container__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__servicios {
  height: 20rem;
  width: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  -webkit-box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  margin: 1.3rem;
}

.card__servicios-titulo {
  font-size: 1rem;
  text-align: center;
  color: #003366;
  margin-top: 0.3rem;
}

.card__servicios-imagen {
  height: 10rem;
  margin-top: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__servicios-descripcion {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem;
}

.card__servicios-descripcion span a {
  color: #003366;
  text-decoration: none;
}

.banner__servicios {
  background-image: url("../assets/servicios/banner-servicios.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 12rem;
  background-position: center top -20rem;
  position: relative;
}

.banner__servicios::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.banner__servicios h1 {
  position: relative;
  z-index: 2;
  color: #FFCC00;
  text-align: center;
  padding-top: 2rem;
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.container__servicios-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 14rem 0 17rem;
}

.img__servicio1-page {
  width: 40%;
}

.container-descripcion__servicios-page {
  margin: 3.5rem 3rem 0 5rem;
}

.titulo__servicios-page {
  color: #003366;
  font-size: 2rem;
}

.descripcion__servicios-page {
  font-size: 1.2rem;
  margin: 0.7rem 0 1.5rem 0;
  color: #555555;
}

.boton__cotiza {
  background-color: #FFCC00;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
  cursor: pointer;
  border: none;
}

.boton__cotiza a {
  text-decoration: none;
  color: #003366;
}

.container__servicios-page-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container__servicios-page-reverse > .container-descripcion__servicios-page {
  margin: 2.5rem 3rem 0 0;
}

.container__servicios-page-reverse > img {
  margin-right: 3.5rem;
}

@media screen and (max-width: 480px) {
  .banner__servicios {
    padding: 1rem;
  }
  .container__servicios-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2rem;
  }
  .img__servicio1-page {
    width: 100%;
  }
  .container-descripcion__servicios-page {
    margin: 2rem 0;
  }
  .titulo__servicios-page {
    font-size: 1.5rem;
  }
  .descripcion__servicios-page {
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
  }
  .boton__cotiza {
    padding: 0.4rem 1.5rem;
  }
  .container__servicios-page-reverse > .container-descripcion__servicios-page {
    margin: 2rem 0;
  }
  .container__servicios-page-reverse > img {
    margin-right: 0;
    margin-bottom: 0;
  }
  #mensaje {
    width: 80%;
    height: 8rem;
  }
}
.sobreMi {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  border-top: 3px solid #FFCC00;
  border-bottom: 3px solid #FFCC00;
  margin-top: 2.5rem;
}

.imagen1__sobreMi, .imagen2__sobreMi {
  width: 20rem;
  height: 20rem;
}

.container__sobreMi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

.titulo__sobreMi {
  font-size: 2rem;
  color: #FFCC00;
  margin-bottom: 1rem;
}

.ul__sobreMi {
  list-style: none;
}

.ul__sobreMi li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f200"; /* Código Unicode del ícono chart-pie */
  font-weight: 900;
  font-size: 15px;
  color: #003366;
  line-height: 1.7;
  padding-right: 10px;
}

.descripcion__sobreMi {
  color: white;
  font-size: 1.2rem;
}

.descripcion__sobreMi span a {
  color: #FFCC00;
  text-decoration: none;
}

.titulo__sobreMi-page {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #003366;
}

.cuerpo__sobreMi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sobreMi-video {
  width: 35rem;
  height: 40rem;
  margin: 0 7rem 0 0;
}

.cuerpo__sobreMi-page {
  margin: 3rem 8rem 3rem 8rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.divisor {
  height: 10rem;
  width: 80%;
  margin-left: 10rem;
}

.cuerpo__sobreMi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cuerpo__sobreMi2-img {
  height: 30rem;
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 3rem 3rem 5rem 8rem;
}

.container__sobreMi2 {
  border: 4px solid #FFCC00;
  width: 47rem;
  height: 17rem;
  margin: 8rem 9rem 0 3rem;
  padding: 1.2rem;
}

.titulo__sobreMi2 {
  text-align: center;
  color: #003366;
  margin-bottom: 0.5rem;
}

.descricion__sobreMi2 {
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  .imagen2__sobreMi {
    display: none;
  }
  .imagen1__sobreMi {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0.8rem;
  }
  .sobreMi {
    display: block;
    padding-right: 0;
  }
  .cuerpo__sobreMi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreMi-video {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .cuerpo__sobreMi-page {
    margin: 2rem 1rem;
    font-size: 1rem;
    text-align: center;
  }
  .divisor {
    width: 100%;
    margin: 0;
  }
  .cuerpo__sobreMi2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cuerpo__sobreMi2-img {
    width: 80%;
    height: auto;
    margin: 2rem 0;
  }
  .container__sobreMi2 {
    width: 90%;
    margin: 2rem 0;
    text-align: center;
  }
  .titulo__sobreMi2 {
    margin-bottom: 0.3rem;
  }
  .descricion__sobreMi2 {
    font-size: 0.9rem;
  }
  .titulo__sobreMi-page {
    margin-bottom: 1rem;
  }
  .descripcion__sobreMi-page {
    margin-bottom: 2rem;
  }
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

form {
  font-family: "Raleway";
  color: #003366;
  font-weight: 600;
  font-size: 1.5rem;
  width: 150rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__titulo {
  font-family: "Raleway";
  color: #003366;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
}

form input, form select, form textarea {
  width: 20%;
  height: 2.5rem;
  border-radius: 5px;
  color: #003366;
  border: 1px solid #FFCC00;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Raleway";
}

form textarea {
  width: 30%;
  height: 10rem;
}

.actionBtn18 {
  display: inline-block;
  position: relative;
  padding: 2rem 0;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.actionBtn18:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  background: #FFCC00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
}

.actionBtn18:hover:after {
  left: 100%;
}

.actionBtn18 .lb {
  position: relative;
  display: block;
  z-index: 1;
  padding-left: 17px;
  font-size: 16px;
  color: #003366;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  transition: padding 0.3s ease-out;
  -webkit-transition: padding 0.3s ease-out;
  -moz-transition: padding 0.3s ease-out;
}

.actionBtn18:hover .lb {
  padding-left: 0;
  padding-right: 12px;
}

.form-img {
  width: 40%;
  height: 56.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -10rem;
     object-position: -10rem;
}

.container__form-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -2rem;
}

@media screen and (max-width: 480px) {
  .container__form-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .form__container {
    width: 80%;
  }
  form {
    width: 100%;
    max-width: none;
  }
  form input {
    width: 20rem;
  }
}
footer {
  background-color: #E6E6E6;
  height: 9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.element__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  footer {
    height: 5rem;
  }
  footer .logo {
    display: none;
  }
  .footer-email {
    display: none;
  }
  .element__footer {
    display: none;
  }
  .container__sobreMi2 {
    height: 23rem;
  }
}