@media screen and (max-width: 480px){
    footer {
        height: 5rem;
    }

    footer .logo{
        display: none;
    }
    
    .footer-email {
        display: none;
    }

    .element__footer {
        display: none;
    }

    .container__sobreMi2 {
        height: 23rem;
    }

    .element__primer-header {
        width: 13.5rem;
    }

    .li__element--primer-header{
        padding: 1rem;
    }

}