.hamburger-menu {
    display: none;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .navegador__desktop {
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .mobile-menu {
        display: none;
        background-color: #fff;
        position: absolute;
        top: 10.2rem;
        right: 0;
        height: 100vh;
        width: 60%;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .ubicacion {
        margin-left: .8rem;
    }
    
    .email-span {
        display: none;
    }

    .menu li {
        margin: 2rem 2rem;
    }
}