
.circuloChico {
    height: 30rem;
    width: 30rem;
    position: absolute;
    top: 0;
    left: -28rem;
    opacity: .4;
    animation: movimientoCircular 21s infinite linear alternate;
    transform-origin: center center ;
}

@keyframes movimientoCircular {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    50%{
        transform: translateX(15rem) rotate(90deg);
    }

    50%{
        transform: translateX(15rem) translateY(0) rotate(90deg);
    }

    100% {
        transform: translateX(15rem) translateY(15rem) rotate(280deg);
    }
}


.seccion__principal {
    height: 45.04rem;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.4fr;
    grid-template-rows: min-content min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "titulo-ppal titulo-ppal img"
    "subtitulo subtitulo img"
    "subtitulo subtitulo img";
    position: relative;
    // border-bottom: 0.2px solid $color-tertiary;
    -webkit-box-shadow: 0px 10px 18px 0px rgba(51,51,51,0.54);
    -moz-box-shadow: 0px 10px 18px 0px rgba(51,51,51,0.54);
    box-shadow: 0px 10px 18px 0px rgba(51,51,51,0.54);;    
    
}

.titulo__principal {
    grid-area: titulo-ppal;
    font-size: 4.8rem;
    line-height: 6rem;
    margin: 2rem 0 0 3.5rem;
    position: absolute;
    width: 52rem;
    color: $color-primary;
}

.imagen__principal {
    height: 45rem;
    width: 47.5rem;
    object-fit: cover;
    grid-area: img;
    margin-right: 1.5rem;
}

.titulo__secundario {
    grid-area: subtitulo;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3.5rem;
    position: absolute;
    top: 5rem;
    left: 3.5rem;
    color: $color-quaternaty;
}

// .divisor {
//     position: absolute;
//     top: 55.3rem;
//     width: 100%;
//     color: $color-quaternaty;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
// }