.titulo__servicios {
    text-align: center;
    margin-top: 4rem;
    color: $color-primary;
}


.container__servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card__servicios {
    height: 20rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    // box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius:15px;
    margin: 1.3rem;
}

.card__servicios-titulo {
    font-size: 1rem;
    text-align: center;
    color: $color-primary;
    margin-top: .3rem;
}

.card__servicios-imagen {
    height: 10rem;
    margin-top: .5rem;
    object-fit: cover;
}

.card__servicios-descripcion {
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem;
}

.card__servicios-descripcion span a {
    color: $color-primary;
    text-decoration: none;
}

// ---------------------------- SERVICIOS PAGE ----------------------------//

.banner__servicios {
    background-image: url('../assets/servicios/banner-servicios.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 12rem;
    background-position: center top -20rem;
    position: relative;
}


.banner__servicios::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.banner__servicios h1 {
    position: relative;
    z-index: 2;
    color: $color-quinary; 
    text-align: center;
    padding-top: 2rem;
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}



.container__servicios-page {
    display: flex;
    justify-content: center;
    margin: 0 14rem 0 17rem;
}

.img__servicio1-page {
    width: 40%;
    // border-radius: 50%;
}

.container-descripcion__servicios-page {
    // margin: 3.5rem 6rem 0 2.5rem;
    margin: 3.5rem 3rem 0 5rem;
}

.titulo__servicios-page {
    color: $color-primary;
    font-size: 2rem;
}

.descripcion__servicios-page {
    font-size: 1.2rem;
    margin: .7rem 0 1.5rem 0;
    color: #555555;
}

.boton__cotiza {
    background-color: $color-quinary;
    padding: .5rem 1.7rem .5rem 1.7rem;
    cursor: pointer;
    border: none;
}

.boton__cotiza a {
    text-decoration: none;
    color: $color-primary;
}


.container__servicios-page-reverse {
    flex-direction: row-reverse;
}

.container__servicios-page-reverse > .container-descripcion__servicios-page {
    margin: 2.5rem 3rem 0 0;
}

.container__servicios-page-reverse > img {
    margin-right: 3.5rem;
}

