* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid black;
}

.whatsapp {
    position: fixed;
    height: 4rem;
    width: 4rem;
    right: 2rem;
    bottom: 4rem;
    z-index: 900;
}

img {
    width: 100%;
}

//--------------------------- VARIABLES -----------------------------------//

@import '_variables.scss';

//----------------------------- HEADER ------------------------------------//

@import '_header.scss';
@import '_header-responsive.scss';

//----------------------------- SECCION PPAL ------------------------------//

@import '_seccion-ppal.scss';
@import '_seccion-ppal-responsive.scss';
//----------------------------- MARCAS-------------------------------------//

@import '_marcas.scss';

//----------------------------- SERVICIOS ---------------------------------//

@import '_servicios.scss';

//----------------------------- SOBRE MI ----------------------------------//

@import '_sobremi.scss';
@import '_sobremi-responsive.scss';

//------------------------------ COTIZA -----------------------------------//

@import '_cotiza.scss';

//----------------------------- FOOTER ------------------------------------//

@import '_footer.scss';
@import '_footer-responsive.scss';